@charset "UTF-8";

/*--------------------------------------------------------------
# RealCube       // RealCube 페이지 CSS
--------------------------------------------------------------*/

.pdc-content{
  width: 100%;
  height: 100%;
  margin-top : 10%;
}

.pdc-img {
  width: 30%;
  max-width: 100%;
  height: 300px;
  border-radius: 70%;
  overflow:hidden;
  float: left;
  margin-right:60px;
}

.pdc-text {
  float: left;
  width: 60%;
  font-weight: bold;
  font-size: 20px;
}

.pdc-img2 {
  width: 30%;
  max-width: 100%;
  height: 300px;
  border-radius: 70%;
  overflow:hidden;
  float: left;
}

.pdc-text2 {
  float: left;
  width: 60%;
  margin-right:60px;
  font-weight: bold;
  font-size: 20px;
}

.videobox {
	text-align: center;
	margin-top: 150px;
}

.videobox h3 {
	text-align: center;
}

.videobox video{
  width: 800px;
  height: 600px;
 
  
}





/*--------------------------------------------------------------
# BeBeLog       // BeBeLog 페이지 CSS
--------------------------------------------------------------*/























